// 
// Navbar
// 

// Navbar basic styling
.navbar {
	color: #fff;
	padding: 5px 16px;
	border-radius: 0;
	border: none;
	box-shadow: 0 0 4px rgba(0,0,0,.1);
	min-height: $navbar-height;
}
// profile image
.navbar img {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	min-width: 50px;
	margin-right: 10px;
}

// fontawesome icons size
.navbar .nav-item i {
	font-size: 20px;
}
// text under icon
.nav-link span {
	font-size: 13px;
}

// Navbar button styling
.nav-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 5px;
	color: #fff;
	min-width: 45px;
}

// Responsive adjustments for mobile
@media (max-width: 767px) {
	.navbar .navbar-nav {
		margin: 8px 0;
	  }
	
	.nav-link {
		flex-direction: row; /* Text next to icon on mobile */
		padding: 10px 15px; /* Adjust padding for mobile */
		justify-content: start; /* Align icon and text to the left */
		text-align: left; /* Ensure text is left-aligned */
	}

	.nav-link i {
		font-size: 18px; /* Smaller icon size on mobile */
		margin-right: 8px; /* Space between icon and text */
	}

	.nav-link span {
		font-size: 14px; /* Larger text size on mobile */
	}
}

// Active Element style
.nav-link.active {
    background: #fff;
    color: rgb(0, 51, 102) !important;
    border-radius: .25rem;
}