.blog-section {
    background: #696969;
    min-height: calc(100vh - $navbar-height - 96px);
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ), url("../assets/img/bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
