.blog-section {
    background: #696969;
    min-height: calc(100vh - $navbar-height - 96px);
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ), url("../assets/img/bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

/* image caption background theme-dependent color */
[data-bs-theme="light"] {
    --img-border-color: #dddddd; /* Default light mode border color (primary) */
}
[data-bs-theme="dark"] {
    --img-border-color: #6a6a6a; /* Custom border color for dark theme (orange) */
}
