// image hover
.projects-holder {
    margin-right: 0; 
    margin-left: 0; 
    margin-top: 40px; 
}

.projects-holder .col-md-4,
.projects-holder .col-md-4 {
    padding-right: 1px;
    padding-left: 1px;
}

.project-item {
    width: 100%;
    margin-bottom: 2px;
    overflow: hidden;
    position: relative;
}

.project-item img {
    width: 100%;
    display: block;
}

.project-item:hover .project-hover {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.project-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40px;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: 0;
    transition: all 200ms ease-in;
    font-size: 18px;
}

.project-hover .inside {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 30px;
}

.project-hover h5 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
    border-style: solid;
    border-color: #222222;
    border-radius: 3px;
    padding: 5px;
    display: inline-block;
}

.project-hover p {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
}