<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

{{ partial "header.html" . }}

<body id="page-top">
    <!-- Navigation-->
    {{ partial "navbar.html" . }}

    <!-- Main -->
    <section class="blog-section py-0 py-md-4", id="header1">
        <div class="container-xl px-0 px-md-4 text-left">
            <div class="col-xl-12" style="overflow-x: hidden;">
                <div class="card">
                    <div class="card-header">
                        <h1>All {{ .Type }}</h1>
                    </div>
                    <div class="card-body">
                        <ul>
                        {{ range .Data.Pages }}
                            <li>
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </li>
                        {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer-->
    {{ partial "footer.html" . }}
</body>

</html>