<!-- Navigation-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container-xl">
        <a href={{ .Site.Language.Lang | absURL }}>
            <img src={{ "assets/img/profile.jpg" | absURL }} alt="My profile picture" title="Home Page"
                class="img-fluid rounded-circle"></a>
        <div class="col-md-4 d-inline-block me-auto">
            <div class="site-logo">
                <h3 style="margin-bottom: 0px; font-weight: bolder;">
                    Henry Leung
                </h3>
                <p style="margin-bottom: 0px; font-size:14px; color: darkgray;">
                    {{ $.Site.Params.navbar_shortdesc }}
                </p>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto" id="pagemenu">
                {{ $aboutpage := site.GetPage "index" }}
                <li class="nav-item">
                    <a href="{{ "" | relLangURL }}" class="nav-link" id="{{ $aboutpage.Title }}">
                        <i class="{{ $aboutpage.Params.faIcon }}" title="{{ $aboutpage.Params.longtitle }}"></i>
                        <span>{{ $aboutpage.Title }}</span>
                    </a>
                </li>
                {{ range ( where .Site.RegularPages "Type" "page" ) }}
                <li class="nav-item">
                    <a href="{{ .Permalink }}" class="nav-link" id="{{ .Params.title }}">
                        <i class="{{ .Params.faIcon }}" title="{{ .Params.longtitle }}"></i>
                        <span>{{ .Params.title }}</span>
                    </a>
                </li>
                {{ end }}
                {{ $blogpage := site.GetPage "blog" }}
                <li class="nav-item">
                    <a href="{{ "/blog" | relLangURL}}" class="nav-link" id="{{ $blogpage.Title }}">
                        <i class="fab {{ $blogpage.Params.faIcon }}
                        " title="{{ $blogpage.Params.longtitle }}"></i>
                        <span>{{ $blogpage.Title }}</span>
                    </a>
                </li>
            </ul>
            <!-- If language is english, show cantonese and vice versa -->
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <span id="langmenu">
                        {{ if eq .Site.Language.Lang "en" }}
                            <a href={{ "zh" | absURL }} class="nav-link" style="min-width: 30px; /* make it shorter */" id="Cantonese" 
                            title="Cantonese - 廣東話">粵</a>
                        {{ else }}
                            <a href={{ "" | absURL }} class="nav-link" style="min-width: 30px; /* make it shorter */" id="English" 
                            title="English - 英文">EN</a>
                        {{ end }}
                    </span>
                </li>
            </ul>

            <ul class="navbar-nav" id="thememenu">
                <li class="nav-item ">
                    <a href="javascript:void(0);" onclick="setDarkTheme()" class="nav-link" style="min-width: 30px; /* make it shorter */">
                        <i class="fa-solid fa-circle-half-stroke justify-content-center"
                            title="Toggle Light/Dark theme" id="themebutton"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>