<div class="row" id="astrophotography">
    <div class="col-md-12">
        <p class="lead">I like astrophotography, here are some of my works done at different places around the globe.
            Most of them are captured with Skywatcher 80ED on Star Adventurer equaatorial mount with a modified Canon
            600D.</p>
        <p class="lead">Some of the best stargazing place I have been include Mount Everest Base Camp at 5400m above sea
            level and Uluru, Australia</p>
        <div class="row projects-holder">
            <div class="col-md-4 col-sm-6">
                <div class="project-item"> <img src="{{ "img/astrophoto/m42.jpg" | absURL }}" alt=""> <a href="{{ "img/astrophoto/m42_highres.jpg" | absURL }}">
                        <div class="project-hover">
                            <div class="inside">
                                <h5>M42 Orion Nebula</h5>
                                <p>8 Nov 2015, Home at Downtown Toronto</p>
                            </div>
                        </div>
                    </a> 
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="project-item"> <img src="{{ "img/astrophoto/frontcampus.jpg" | absURL }}" alt=""> <a
                        href="{{ "img/astrophoto/frontcampus_highres.jpg" | absURL }}">
                        <div class="project-hover">
                            <div class="inside">
                                <h5>Startrails over University College at UofT</h5>
                                <p>18-19 March 2016, Front Campus at U of Toronto</p>
                            </div>
                        </div>
                    </a> 
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="project-item"> <img src="{{ "img/astrophoto/idaho.jpg" | absURL }}" alt=""> <a href="{{ "img/astrophoto/idaho_highres.jpg" | absURL }}">
                        <div class="project-hover">
                            <div class="inside">
                                <h5>Milkyway over Idaho Fall</h5>
                                <p>Summer 2017 during the Great American Total Eclipse Trip</p>
                            </div>
                        </div>
                    </a> 
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="project-item"> <img src="{{ "img/astrophoto/everest.jpg" | absURL }}" alt=""> <a href="{{ "img/astrophoto/everest_highres.jpg" | absURL }}">
                        <div class="project-hover">
                            <div class="inside">
                                <h5>Milkyway over Mount Everest</h5>
                                <p>Mount Everest Base Camp @ 5400m sea level during my trip to Tibet in 2015</p>
                            </div>
                        </div>
                    </a> 
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="project-item"> <img src="{{ "img/astrophoto/dumbbell.jpg" | absURL }}" alt=""> <a
                        href="{{ "img/astrophoto/dumbbell.jpg" | absURL }}">
                        <div class="project-hover">
                            <div class="inside">
                                <h5>M27 Dumbbell Nebula</h5>
                                <p>6 May 2021, Home at Downtown Toronto</p>
                            </div>
                        </div>
                    </a> 
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="project-item"> <img src="{{ "img/astrophoto/lagoon.jpg" | absURL }}" alt=""> <a href="{{ "img/astrophoto/lagoon.jpg" | absURL }}">
                        <div class="project-hover">
                            <div class="inside">
                                <h5>Lagoon Nebula (Left)& Triffid Nebula (Right)</h5>
                                <p>4 July 2016, Near U of Toronto downtown campus</p>
                            </div>
                        </div>
                    </a> 
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="project-item"> <img src="{{ "img/astrophoto/Scorpius.jpg" | absURL }}" alt=""> <a
                        href="{{ "img/astrophoto/Scorpius_highres.jpg" | absURL }}">
                        <div class="project-hover">
                            <div class="inside">
                                <h5>Area around Scorpius Antares</h5>
                                <p>Summer 2014, Ayers Rock Desert Gardens Hotel, Australia</p>
                            </div>
                        </div>
                    </a> 
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="project-item"> <img src="{{ "img/astrophoto/Carinae.jpg" | absURL }}" alt=""> <a href="{{ "img/astrophoto/Carinae_highres.jpg" | absURL }}">
                        <div class="project-hover">
                            <div class="inside">
                                <h5>Eta Carinae Nebula</h5>
                                <p>Summer 2014, Ayers Rock Desert Gardens Hotel, Australia</p>
                            </div>
                        </div>
                    </a> 
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="project-item"> <img src="{{ "img/astrophoto/large_m.jpg" | absURL }}" alt=""> <a href="{{ "img/astrophoto/large_m_highres.jpg" | absURL }}">
                        <div class="project-hover">
                            <div class="inside">
                                <h5>Large Magellanic Cloud</h5>
                                <p>Summer 2014, Ayers Rock Desert Gardens Hotel, Australia</p>
                            </div>
                        </div>
                    </a> 
                </div>
            </div>
        </div>
        <!-- .projects-holder -->
        <br>
        <br>
        <p class="lead"> Beside deepsky imaging, I also occassionaly do planetary imaging with my small telescope.</p>
        <div class="row projects-holder">
            <div class="col-md-4 col-sm-6">
                <div class="project-item"> <img src="{{ "img/astrophoto/mars.jpg" | absURL }}" alt=""> <a href="{{ "img/astrophoto/mars.jpg"| absURL }}">
                        <div class="project-hover">
                            <div class="inside">
                                <h5>Mars in 2016</h5>
                                <p>You can see Syrtis Major on Mars and was taken with my 80mm refractor on 23 May 2016
                                </p>
                            </div>
                        </div>
                    </a> 
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="project-item"> <img src="{{ "img/astrophoto/saturn.jpg" | absURL }}" alt=""> <a href="{{ "img/astrophoto/saturn.jpg" | absURL }}">
                        <div class="project-hover">
                            <div class="inside">
                                <h5>Saturn in 2016</h5>
                                <p>You can clearly see multiple rings and it is taken with my 80mm refractor</p>
                            </div>
                        </div>
                    </a> 
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="project-item"> <img src="{{ "img/astrophoto/jupiter.jpg" | absURL }}" alt=""> <a href="{{ "img/astrophoto/jupiter.jpg" | absURL }}">
                        <div class="project-hover">
                            <div class="inside">
                                <h5>Jupiter in 2016</h5>
                                <p>You can clearly see multiple atmospheric bands and it is taken with my 80mm refractor
                                </p>
                            </div>
                        </div>
                    </a> 
                </div>
            </div>
        </div>
        <br>
        <br>
        <p class="lead">And of course the Sun and the Moon</p>
        <div class="row projects-holder">
            <div class="col-md-4 col-sm-6">
                <div class="project-item"> <img src="{{ "img/astrophoto/moon.jpg" | absURL }}" alt=""> <a href="{{ "img/astrophoto/moon.jpg" | absURL }}">
                        <div class="project-hover">
                            <div class="inside">
                                <h5>The moon</h5>
                                <p>It is a moasic taken with my 80mm refractor</p>
                            </div>
                        </div>
                    </a> 
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="project-item"> <img src="{{ "img/astrophoto/solar_total.jpg" | absURL }}" alt=""> <a
                        href="{{ "img/astrophoto/solar_total.jpg" | absURL }}">
                        <div class="project-hover">
                            <div class="inside">
                                <h5>Total Solar Eclipse 2017</h5>
                                <p>HDR composite images during the moment of totality</p>
                            </div>
                        </div>
                    </a> 
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="project-item"> <img src="{{ "img/astrophoto/lunar_total.jpg" | absURL }}" alt=""> <a
                        href="{{ "img/astrophoto/lunar_total.jpg" | absURL }}">
                        <div class="project-hover">
                            <div class="inside">
                                <h5>Total Lunar Eclipse 2019</h5>
                                <p>Single shot image during totality</p>
                            </div>
                        </div>
                    </a> 
                </div>
            </div>
        </div>
    </div>
</div>