{{ $src := .Get "source_path" }}
{{ $maxwidth := .Get "maxwidth" }}
{{ $alttext := .Get "alttext" }}
{{ $caption := .Get "caption" }}


<div class="container mt-5 text-center"> 
    <figure class="mx-auto" style="background-color: var(--img-border-color); border-radius: 5px 5px 5px 5px; border: 4px solid var(--img-border-color); width: 100%; max-width: {{ if $maxwidth }}{{ $maxwidth }}{{ else }}600{{ end }}px">
        <img style="width: 100%; display: block; border-radius: 3px 3px 3px 3px; max-width: {{ if $maxwidth }}{{ $maxwidth }}{{ else }}600{{ end }}px;" src="{{ $src | absURL }}" alt="{{ $alttext }}">
        {{ if $caption }}
        <figcaption style="background-color: var(--img-border-color); padding: 5px;" class="figure-caption text-left">
            <em>{{ $caption}}</em>
        </figcaption>
        {{ end }}
    </figure>
</div>