    <div class="row">
      <div class="col-md-12">
        <p class="lead">I release most of my code including code for my papers on my <a href="https://github.com/henrysky">Github profile</a></p>
        <br>
        <br>
        <img src="{{ "assets/img/astroNN_icon_withtext_horizontal.png" | absURL }}" alt="astroNN" style="max-width: 400px">
          <h4>astroNN</h4>
          <p class="lead">Deep Learning for Astronomers with Tensorflow</p>
          <p class="lead">astroNN Github: <a href="https://github.com/henrysky/astroNN">https://github.com/henrysky/astroNN</a></p>
        <br>
        <br>
        <img src="{{ "assets/img/mw-plot-logo-b.png" | absURL }}" alt="mw-plot" style="max-width: 400px">
          <h4>mw_plot</h4>
          <p class="lead">A handy python package to do plotting on a face-on/edge-on/allsky map milkyway with matplotlib and bokeh</p>
          <p class="lead">mw_plot Github: <a href="https://github.com/henrysky/milkyway_plot">https://github.com/henrysky/milkyway_plot</a></p>
        <br>
        <br>
        <img src="{{ "assets/img/Galaxy10logo.jpg" | absURL }}" alt="Galaxy10" style="max-width: 400px">
          <h4>Galaxy10</h4>
          <p class="lead">A CIFAR10-like galaxy image dataset</p>
          <p class="lead">Galaxy10 Github: <a href="https://github.com/henrysky/Galaxy10">https://github.com/henrysky/Galaxy10</a></p>
        <br>
        <br>
          <h4>galpy_cuda_demo</h4>
          <p class="lead">Technology demonstration of orbits integration with CUDA for galpy</p>
          <p class="lead">galpy_cuda_demo Github: <a href="https://github.com/henrysky/galpy_cuda_demo">https://github.com/henrysky/galpy_cuda_demo</a></p>
      </div>
    </div>
