
<div class="row">
    <div class="col-md-12">
    <table id="datatables-clients" class="table table-striped" style="width:100%">
<tr>
            <td width="100%">
                
    <div class="row">
        <div class="col-12 col-lg-3">
    <a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2023MNRAS.519..948L/abstract" class="btn btn-sm btn-primary mt-1">2023MNRAS.519..948L</a>
    <br class="d-none d-lg-block">
    <a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2023MNRAS.519..948L/citations" class="btn btn-sm btn-secondary mt-1">7 Citations</a>
    <br class="d-none d-lg-block"><a target="_blank" href="https://github.com/henrysky/astroNN_GC_distance" class="btn btn-sm btn-info mt-1">Code</a></div>
                <div class="col-12 col-lg-9 order-first order-lg-0">
            <span class="paper-title">A measurement of the distance to the Galactic centre using the kinematics of bar stars</span><span class="paper-author"><b>Henry W. Leung</b>, Jo Bovy, J. Ted Mackereth, Jason A. S. Hunt, Richard R. Lane, John C. Wilson</span></div></td>
        </tr><tr>
            <td width="100%">
                
    <div class="row">
        <div class="col-12 col-lg-3">
    <a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2022ApJS..260...32W/abstract" class="btn btn-sm btn-primary mt-1">2022ApJS..260...32W</a>
    <br class="d-none d-lg-block">
    <a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2022ApJS..260...32W/citations" class="btn btn-sm btn-secondary mt-1">16 Citations</a>
    </div>
                <div class="col-12 col-lg-9 order-first order-lg-0">
            <span class="paper-title">Chemical Cartography with APOGEE: Mapping Disk Populations with a 2-process Model and Residual Abundances</span><span class="paper-author">David H. Weinberg, el al. (includes <b>Henry W. Leung</b>)</span></div></td>
        </tr><tr>
            <td width="100%">
                
    <div class="row">
        <div class="col-12 col-lg-3">
    <a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2022ApJS..259...35A/abstract" class="btn btn-sm btn-primary mt-1">2022ApJS..259...35A</a>
    <br class="d-none d-lg-block">
    <a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2022ApJS..259...35A/citations" class="btn btn-sm btn-secondary mt-1">172 Citations</a>
    </div>
                <div class="col-12 col-lg-9 order-first order-lg-0">
            <span class="paper-title">The Seventeenth Data Release of the Sloan Digital Sky Surveys: Complete Release of MaNGA, MaStar, and APOGEE-2 Data</span><span class="paper-author">Abdurro'uf, el al. (includes <b>Henry W. Leung</b>)</span></div></td>
        </tr><tr>
            <td width="100%">
                
    <div class="row">
        <div class="col-12 col-lg-3">
    <a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2020ApJS..249....3A/abstract" class="btn btn-sm btn-primary mt-1">2020ApJS..249....3A</a>
    <br class="d-none d-lg-block">
    <a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2020ApJS..249....3A/citations" class="btn btn-sm btn-secondary mt-1">692 Citations</a>
    </div>
                <div class="col-12 col-lg-9 order-first order-lg-0">
            <span class="paper-title">The 16th Data Release of the Sloan Digital Sky Surveys: First Release from the APOGEE-2 Southern Survey and Full Release of eBOSS Spectra</span><span class="paper-author">Romina Ahumada, el al. (includes <b>Henry W. Leung</b>)</span></div></td>
        </tr><tr>
            <td width="100%">
                
    <div class="row">
        <div class="col-12 col-lg-3">
    <a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2020MNRAS.494.2268W/abstract" class="btn btn-sm btn-primary mt-1">2020MNRAS.494.2268W</a>
    <br class="d-none d-lg-block">
    <a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2020MNRAS.494.2268W/citations" class="btn btn-sm btn-secondary mt-1">9 Citations</a>
    </div>
                <div class="col-12 col-lg-9 order-first order-lg-0">
            <span class="paper-title">Searching for solar siblings in APOGEE and Gaia DR2 with N-body simulations</span><span class="paper-author">Jeremy J. Webb, Natalie Price-Jones, Jo Bovy, Simon Portegies Zwart, Jason A. S. Hunt, J. Ted Mackereth, <b>Henry W. Leung</b></span></div></td>
        </tr><tr>
            <td width="100%">
                
    <div class="row">
        <div class="col-12 col-lg-3">
    <a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2019MNRAS.490.4740B/abstract" class="btn btn-sm btn-primary mt-1">2019MNRAS.490.4740B</a>
    <br class="d-none d-lg-block">
    <a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2019MNRAS.490.4740B/citations" class="btn btn-sm btn-secondary mt-1">111 Citations</a>
    </div>
                <div class="col-12 col-lg-9 order-first order-lg-0">
            <span class="paper-title">Life in the fast lane: a direct view of the dynamics, formation, and evolution of the Milky Way's bar</span><span class="paper-author">Jo Bovy, <b>Henry W. Leung</b>, Jason A. S. Hunt, J. Ted Mackereth, Domingo A. Garc&#237;a-Hern&#225;ndez, Alexandre Roman-Lopes</span></div></td>
        </tr><tr>
            <td width="100%">
                
    <div class="row">
        <div class="col-12 col-lg-3">
    <a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2019MNRAS.489.2079L/abstract" class="btn btn-sm btn-primary mt-1">2019MNRAS.489.2079L</a>
    <br class="d-none d-lg-block">
    <a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2019MNRAS.489.2079L/citations" class="btn btn-sm btn-secondary mt-1">103 Citations</a>
    <br class="d-none d-lg-block"><a target="_blank" href="https://github.com/henrysky/astroNN_gaia_dr2_p..." class="btn btn-sm btn-info mt-1">Code</a></div>
                <div class="col-12 col-lg-9 order-first order-lg-0">
            <span class="paper-title">Simultaneous calibration of spectro-photometric distances and the Gaia DR2 parallax zero-point offset with deep learning</span><span class="paper-author"><b>Henry W. Leung</b>, Jo Bovy</span></div></td>
        </tr><tr>
            <td width="100%">
                
    <div class="row">
        <div class="col-12 col-lg-3">
    <a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2019MNRAS.489..176M/abstract" class="btn btn-sm btn-primary mt-1">2019MNRAS.489..176M</a>
    <br class="d-none d-lg-block">
    <a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2019MNRAS.489..176M/citations" class="btn btn-sm btn-secondary mt-1">107 Citations</a>
    <br class="d-none d-lg-block"><a target="_blank" href="https://github.com/jmackereth/monoage-velocity..." class="btn btn-sm btn-info mt-1">Code</a></div>
                <div class="col-12 col-lg-9 order-first order-lg-0">
            <span class="paper-title">Dynamical heating across the Milky Way disc using APOGEE and Gaia</span><span class="paper-author">J. Ted Mackereth, Jo Bovy, <b>Henry W. Leung</b>, el al.</span></div></td>
        </tr><tr>
            <td width="100%">
                
    <div class="row">
        <div class="col-12 col-lg-3">
    <a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2019MNRAS.483.3255L/abstract" class="btn btn-sm btn-primary mt-1">2019MNRAS.483.3255L</a>
    <br class="d-none d-lg-block">
    <a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2019MNRAS.483.3255L/citations" class="btn btn-sm btn-secondary mt-1">115 Citations</a>
    <br class="d-none d-lg-block"><a target="_blank" href="https://github.com/henrysky/astroNN_spectra_pa..." class="btn btn-sm btn-info mt-1">Code</a></div>
                <div class="col-12 col-lg-9 order-first order-lg-0">
            <span class="paper-title">Deep learning of multi-element abundances from high-resolution spectroscopic data</span><span class="paper-author"><b>Henry W. Leung</b>, Jo Bovy</span></div></td>
        </tr><tr>
            <td width="100%">
                
    <div class="row">
        <div class="col-12 col-lg-3">
    <a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2017JAVSO..45...30P/abstract" class="btn btn-sm btn-primary mt-1">2017JAVSO..45...30P</a>
    <br class="d-none d-lg-block">
    <a target="_blank" href="https://ui.adsabs.harvard.edu/abs/2017JAVSO..45...30P/citations" class="btn btn-sm btn-secondary mt-1">3 Citations</a>
    </div>
                <div class="col-12 col-lg-9 order-first order-lg-0">
            <span class="paper-title">Studies of the Long Secondary Periods in Pulsating Red Giants. II. Lower-Luminosity Stars</span><span class="paper-author">J. R. Percy, <b>Henry W. Leung</b></span></div></td>
        </tr>        <tbody><tr>
        </tbody></table>
    </div>
</div>